@using Pokedex.Core.Application.ViewModels.TypePokemon
@model TypeSaveViewModels
@{
    ViewData["Title"] = "Eliminar Tipo";
}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>Está seguro que quiere eliminar el tipo @Model.Name?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="TypePokemon" asp-action="EliminarT">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                    <a asp-controller="TypePokemon" asp-action="Index" class="btn btn-outline-success">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>